<%= render 'layouts/title_with_header', title: 'Sign In', header: 'Welcome Back!' %>

<div class="row">
  <div class="span6 offset3 form-content">
    <div class="form-body">
      <%= form_for(:session, url: sessions_path ) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.text_field :password, type: "password" %>

        <%= f.submit "Sign In", class: "btn btn-block btn-info" %>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
