<%= render 'layouts/title_with_header', title: 'All Users', header: 'All Users' %>

<% @users.each do |user| %>
  <ul>
    <li>
      <%= user.name %>
      <%= link_to 'Show', user %>
      <%= link_to 'Edit', edit_user_path(user) %>
      <%= (link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }) if current_user.admin? %>
    </li>
  </ul>
<% end %>
